<!DOCTYPE html>
<html>
<head>
    <title>View Expenses</title>
</head>
<body>
    <h2>All Expenses</h2>
    <table border="1">
        <tr>
            <th>Date</th><th>Amount (₹)</th><th>Category</th><th>Note</th>
        </tr>
        {% for row in expenses %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">⬅ Back</a>
</body>
</html>
